<!doctype html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>Grades</title>
    <script src="../../static/js/angular.js"></script>
    <script src="../../static/js/angular-touch.js"></script>
    <script src="../../static/js/angular-animate.js"></script>
    <script src="../../static/js/csv.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
    <script src="../../static/js/ui-grid.js"></script>
    <link rel="stylesheet" href="http://ui-grid.info/release/ui-grid.css" type="text/css">
    <link rel="stylesheet" href="../../static/css/grid-students.css" type="text/css">
    <script> schedule_list = {{schedule_list|tojson}}; grades = {{grades|tojson}};</script>
  </head>

  <body>
    <a href=".">&lt; Back</a>
    <h3>Grades</h3>
    <div ng-controller="MainCtrl">
      <div id="grid1" ui-grid="gridOptions" ui-grid-importer ui-grid-selection ui-grid-edit class="grid" ng-show="dataLoaded"></div>
      <div ng-hide="dataLoaded">Loading...</div>
    </div>
    <script src="../../static/js/grades.js"></script>
  </body>
</html>
